In [1]:
import pandas as pd

In [72]:
df = pd.read_csv("data/attacks.csv",encoding = "ISO-8859-1") #To load the data csv

In [17]:
#Reviso 5 datos aleatorios del dataframe
df.head().sample(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [36]:
df.shape

(25723, 24)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [35]:
df.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [39]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Year,6300.0,1927.272381,281.116308,0.0,1942.0,1977.0,2005.0,2018.0
original order,6309.0,3155.999683,1821.396206,2.0,1579.0,3156.0,4733.0,6310.0

In [165]:
#Para facilitar nuestro trabajo, ponemos las columnas en minúscula, borramos espacios y remplazamos espacios por _
col_min = list(df.columns)
col_min = [i.lower()for i in col_min]
col_min = [i.strip() for i in col_min]
col_min = [i.replace(" ","_") for i in col_min]
df.columns = col_min

In [77]:
#En la exploración de datoss, vemos que la columna "unnamed : 22" sólo hay 1 entrada que no es NaN, por lo que exploro ese dato
unnamed22NaN=df["unnamed: 22"].unique()
unnamed22NaN
#El dato es "stopped here", por lo que no me aporta nada. Decido borrar la columna
df.drop(["unnamed: 22"], axis=1, inplace=True)

In [80]:

#También vemos que la columna "unnamed : 23" sólo hay 2 entradas que no son NaN, por lo que exploro esos datos.
unnamed23NaN=df["unnamed: 23"].unique()
unnamed23NaN
#Los datos son 'Teramo', 'change filename', por lo que no me aportan nada. Decido borrar la columna.
df.drop(["unnamed: 23"], axis=1, inplace=True)

In [85]:
#Borramos las filas donde sólo haya NaN
df.dropna(how="all", inplace=True)
df.shape

(8703, 22)

In [100]:
#Guardo las columnas con links en una variable por si las tuviera que usar y las elimino
pdfcol = df["href formula"],df["href"]
df.drop(["href formula","href"],axis=1, inplace=True)

In [102]:
#Elimino la columna pdf, ya que solo me indica el nombre de pdf
df.drop(["pdf"],axis=1, inplace=True)
#Elimino las columnas location, time, investigator or source y original order, ya que no son relevantes para mi estudio.
df.drop(["location","time", "investigator or source", "original order"],axis=1, inplace=True)

In [184]:
dataact = list(df.activity)
dataact = [str(i).lower()for i in dataact]
df.activity = dataact